.link {
  cursor: pointer;
  border-bottom: 1px solid #9aa4d6;
  color: #4343aa;
  &.linkWhite {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }
  &.linkFalse {
    border-bottom: 1px solid #b53f3f;
    color: #b53f3f;
  }
  &.linkTrue {
    border-bottom: 1px solid #7bd782;
    color: #7bd782;
  }
}